* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Public Sans", sans-serif;
}
/* font-family: 'Poppins', sans-serif;
font-family: 'Public Sans', sans-serif;
 */
input,
textarea,
select,
button {
  font-family: inherit;
}
.container {
  width: 1140px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}
.btn {
  --heighgt: 57px;
  height: var(--heighgt);
  display: inline-block;
  font-size: 1.8rem;
  border-radius: 99px;
  border: 1.5px solid #143c3c;
  text-align: center;
  background: #143c3c;
  color: #fff;
  font-weight: 500;
  min-width: 173px;
  line-height: var(--heighgt);
  padding: 0 20px;
}
a:hover,
.btn:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* header */
/* header-top */
.header {
  min-height: 100vh;
  padding-top: 28px;
}
.header-top {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  /* border-bottom: 1px solid
    linear-gradient(
      90deg,
      #fff 0%,
      #dddcdc 51.09%,
      rgba(212, 212, 212, 0) 99.68%
    );*/
}
.header-top__line::before {
  position: relative;
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    90deg,
    #fff 0%,
    #dddcdc 51.09%,
    rgba(212, 212, 212, 0) 99.68%
  );
}
.navbar {
  margin-left: auto;
}
.navbar__list {
  display: flex;
}
.navbar__item {
  padding: 0 19px;
}
.navbar__link {
  color: #575d5e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}
.navbar__link--active::before {
  content: "";
  display: inline-block;
  background-color: #143c3c;
  width: 16px;
  height: 2px;
  position: relative;
  bottom: -34px;
  left: 21px;
}
.header-action {
  margin-left: 69px;
}
/* hero */
.hero__body {
  display: flex;
  position: relative;
  padding-top: 60px;
  column-gap: 76px;
}
/* hero-content */
.hero__content {
  margin-top: 43px;
  max-width: 36.66%;
}
.hero__heading {
  max-width: 368px;
  color: #152427;
  font-family: Public Sans;
  font-size: 5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 1.2; /* 120% */
}
.hero__desc {
  width: 341px;
  margin-top: 20px;
  color: #575d5e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
}
.hero__cta-group {
  display: flex;
  margin-top: 42px;
  column-gap: 36px;
}
.hero__media {
  position: relative;
}
/* hero-img */
.hero__images {
  display: flex;
  column-gap: 20px;
}
.hero__img {
  width: 202px;
  height: 466px;
  border-radius: 110px;
  object-fit: cover;
}
.hero__img:nth-child(2) {
  transform: translateY(77px);
}
.hero__media--bg-center {
  position: absolute;
  content: "";
  top: 122px;
  left: 232px;
  width: 340px;
  height: 340px;
  border-radius: 340px;
  background: #4dbb9a;
  filter: blur(137px);
  z-index: -1;
}

.hero__decor1 {
  position: absolute;
  top: 35px;
  left: 255px;
}
.hero__decor2 {
  position: absolute;
  top: 32px;
  left: 297px;
}
.hero__decor4 {
  position: absolute;
  top: 561px;
  left: 1027px;
}
.hero__decor3 {
  position: absolute;
  top: 330px;
  /* left: 500px; */
  right: 71px;
}
/* main */
/* donor- nhà tài trợ */
.donor {
  margin-top: 42px;
}
.donor__inner {
  padding: 77px 121px;
  background: #e2eddf;
  border-radius: 101px;
}
.donor__list {
  display: flex;
  align-items: center;
  column-gap: 60px;
}
.donor__item--text {
  color: #163c35;
  font-family: Poppins;
  font-size: 2.6rem;
  font-weight: 400;
  line-height: normal;
}
.donor__item:nth-child(3) {
  display: flex;
  column-gap: 11px;
  align-items: center;
}
/* service */
.service {
  margin-top: 53px;
  padding: 53px 0;
  font-family: "Poppins", sans-serif;
}
.service__row--top {
  display: flex;
  justify-content: space-between;
  align-items: center; /*đoạn này đặt row như này là sai nhma kệ*/
}
.service__title {
  color: #152427;
  /* Paragraph/h4 16px medium */
  font-size: 1, 6rem;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
}
.service__title::before {
  content: "";
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: #152427;
  margin-right: 21px;
  position: relative;
  bottom: 9px;
}
.service__heading {
  margin-top: 12px;
  color: #152427;
  /* Heading/H3 42px bold */
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23; /* 123.81% */
}
.service__heading::after {
  content: "";
  display: inline-block;
  position: relative;
  width: 66px;
  height: 2px;
  background-color: #152427;
  top: -10px;
  margin-left: 15px;
}
.service__content {
  width: 45.6%;
}
.service__control {
  display: flex;
  column-gap: 17px;
}
.control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  border-radius: 50%;
  border: 1px solid #e2eddf;
  background-color: #e2eddf;
  width: 54px;
  height: 54px;
  transition: 0.25s;
  color: #152427;
}
.control-btn:hover {
  border: 1px solid #143c3c;
  background-color: #143c3c;
  cursor: pointer;
  color: white;
}
.control-btn__left {
  rotate: 180deg;
}
/* service__list */
.service__list {
  margin-top: 76px;
  display: flex;
  column-gap: 16px;
}

.service__item:hover .service__item--body {
  border-radius: 0 0 20px 20px;
  background: #fff;
  box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
  padding-left: 18px;
}
.item_thumb {
  width: 370px;
  height: 318px;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}
.service__item--body {
  padding-top: 24px;
  padding-bottom: 23px;
  transition: 0.4s;
}
.service__list--heding {
  color: #152427;
  /* Heading/h1 22px semibold */
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.service__list--desc {
  width: 268px;
  margin-top: 18px;
  color: #7d8188;
  /* Paragraph/h6 14px medium */
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
}
.about {
  margin-top: 54px;
  padding: 50px 0 127px 0;
  font-family: "Poppins", sans-serif;
}
.about__inner {
  display: flex;
  position: relative;
}
/* about media */
.about__media {
  padding-top: 13px;
  margin-right: 64px;
  position: relative;
}
.about-images {
  display: flex;
  column-gap: 21px;
}
.about-img {
  width: 284px;
  height: 480px;
  object-fit: cover;
  border-radius: 210px;
  box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
}
.about-img:first-child {
  transform: translateY(77px);
}
/* media -block */
.media-block {
  font-family: "Public Sans";
  top: 418px;
  left: 457px;
  width: 144px;
  height: 144px;
  background-color: #fff;
  position: absolute;
  padding: 19px 17px 11px;
  border-radius: 8px;
  box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
}
.media-block__heading {
  color: #152427;
  /* font-family: "Public Sans"; */
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1; /* 100% */
}
.media-block__title {
  margin-top: 6px;
  opacity: 0.4;
  color: #575d5e;
  /* font-family: "Public Sans"; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4; /* 140% */
}
.media-block__percent {
  margin-top: 10px;
  color: #152427;
  /* font-family: "Public Sans"; */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
}
.media-block-rate {
  margin-top: 4px;
  width: 96px;
  height: 2px;
  border-radius: 10px;
  background: #eaeaea;
}
.media-block-rating {
  width: 40px;
  height: 2px;
  border-radius: 10px;
  background: #83a17d;
}
.loding {
  text-align: right;
  padding-right: 14px;
  color: #152427;
  /* font-family: "Public Sans"; */
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4; /* 140% */
}
.media-block__circle {
  margin-top: 3px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #143c3c;
  border: 3px solid #eaeaea;
}
.media-block__list--members {
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.teams {
  color: #152427;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4rem; /* 140% */
}
.avatar-block {
  display: flex;
  align-items: center;
}
.avartar-quantity,
.avatar {
  margin-left: -6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #fff;
  object-fit: cover;
}
.avartar-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4dbb9a;
  font-size: 0.5rem;
  font-weight: 500;
  color: #fff;
}
.about-decor1 {
  z-index: 1;
  position: absolute;
  left: 46px;
  top: -18px;
}
.about-decor2 {
  top: 16px;
  left: 89px;
  position: absolute;
}
/* about content */
.about__content {
  width: 42.5%;
}
.about__title {
  color: #152427;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.12; /* 112.5% */
}
.about__title::before {
  content: "";
  display: inline-block;
  position: relative;
  width: 25px;
  height: 1px;
  background-color: #152427;
  margin-right: 21px;
  top: -6px;
}
.about__heading {
  margin-top: 20px;
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.24; /* 123.81% */
}
.about__desc {
  margin-top: 11px;
  color: #7d8188;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
}
.about__row {
  margin-top: 36px;
  display: flex;
  align-items: center;
  column-gap: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #83a17d;
}
.percent {
  color: #152427;
  font-size: 4.2rem;
  font-weight: 600;
  line-height: 1.23; /* 123.81% */
}
.about__row--desc {
  max-width: 364px;
  color: #7d8188;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
}
